/* SECTION1 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: rgba(16, 53, 26, 0.94);
    color: white;
}

.firstlist {
    list-style: none; 
    display: flex;
}
a {
    text-decoration: none;
    color: white;
}
.firstlist li {
    margin: 10px
}

.link:hover {
    color:rgb(210, 162, 72);
}

#button {
    background-color: rgb(210, 162, 72);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}
.wrapper {
    width: 100%;
    height: 100vh;
}

.text-wrapper {
    text-align: center;
    margin: 60px auto 30px auto;
}

.image-wrapper {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.navigation-bar{
    display: flex;
    justify-content: space-between;
    margin: 20px 70px;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu {
    position: fixed;
    right: 3%;
}

img {
    width: 230px;
    height: 220px;
    margin: 60px 60px 5px 60px;
    border-radius: 50%;
}

.brandname{
    font-size: 34px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 20px;
}
.text {
    font-size: 12px;
    color: rgb(231, 229, 192);
    margin-top: 10px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.food {
    color: rgb(210, 162, 72);
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.description {
    text-align: center;
    margin-top: 10px;
}

/* SECTION2 */
.secondwrapper {
    width: 100%;
    height: 100vh;
}

.phase1 {
    display: flex;
    width: 100%;
    height: 50vh;
}

.update {
    width: 50%;
    margin: 100px;
    margin-left: 150px;
}

.notification {
    color: rgb(210, 162, 72);
    font-weight: bold;
    font-size: 30;
    margin-bottom: 20px;
}
.input {
    width: 50%;
    margin: 100px;
    margin-top: 130px;
}
.textinput {
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 250px;
    border: none;
    padding: 5px;
    outline: none;
}

.subscribe {
   width: 400px; 
   height: 35px;
   display: flex;
   align-items: center;
}
.updatebutton {
    color: black;
    background-color: rgb(210, 162, 72);
    border: none;
    height: 100%;
    width: 100px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.phase2 {
    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.subphase2 {
    display: flex;
    gap: 100px;
}

a:not(.link) {
    font-size: 14px;
    color: white;
    opacity: 0.5;
    line-height: 2; 
}


.install-button {
    background-color: black;
    color: white;
    border-color: rgb(255, 255, 255);
    border-radius: 3px;
    margin-bottom: 15px;
    width: 140px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 5px 10px;
}
.icon p {
    font-size: 18px;
    font-weight: bold;
}

.bottomlist {
    text-align: left;
}
.icon {
    display: flex;
    gap: 5px;
}


.subheading {
    font-size: 17px;
    margin-bottom: 7px;
}  
.installapp {
    font-size: 22px;
    margin-bottom: 10px;
}
.list  {
    list-style: none;
}

span {
    font-size: 16px;
    font-weight: bold;
}